h1{
    text-align: center;
}
.navbar ul{
    list-style-type: none;
    background-color: hsl(0, 12%, 20%);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 20px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: hsl(0, 0%, 3%);
}
.navbar li{
    float: left;
}
.sbar {
    text-align: right;
}
.sbutton {
    height: 10px;
    width: 10px;
}
img {
    width: 20%;
    margin: 0px auto;
    display:block;
}